# roles/ceph/ceph_client/templates/ceph.conf.j2
# Managed by Ansible - external Ceph client config

[global]
fsid = {{ ceph_fsid }}
mon_host = {{ ceph_mon_hosts | join(',') }}
public_network = {{ ceph_public_network }}
{% if ceph_cluster_network | default('') | length > 0 %}
cluster_network = {{ ceph_cluster_network }}
{% endif %}
auth_cluster_required = cephx
auth_service_required = cephx
auth_client_required = cephx

[client]
rbd_cache = true
rbd_cache_writethrough_until_flush = true
