export OS_PROJECT_DOMAIN_NAME={{ keystone_default_domain }}
export OS_USER_DOMAIN_NAME={{ keystone_default_domain }}
export OS_PROJECT_NAME={{ keystone_admin_project }}
export OS_USERNAME={{ keystone_admin_user }}
export OS_PASSWORD={{ keystone_admin_password }}
export OS_AUTH_URL=http://{{ internal_fqdn }}:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
