# Managed by Ansible - Nova Controller Caracal

[DEFAULT]
debug = false
my_ip = {{ management_ip }}
enabled_apis = osapi_compute,metadata
osapi_compute_listen = {{ management_ip }}
osapi_compute_listen_port = {{ nova_api_port }}
metadata_listen = {{ management_ip }}
metadata_listen_port = {{ nova_metadata_port }}
state_path = {{ nova_state_path }}
transport_url = {{ nova_transport_url }}
compute_driver = {{ nova_compute_driver }}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver


[api]
auth_strategy = keystone

[api_database]
connection = {{ nova_api_database_connection }}

[database]
connection = {{ nova_database_connection }}

[keystone_authtoken]
www_authenticate_uri = http://{{ internal_fqdn }}:5000
auth_url = http://{{ internal_fqdn }}:5000
memcached_servers = {{ nova_memcached_servers }}
auth_type = password
project_domain_name = {{ keystone_default_domain }}
user_domain_name = {{ keystone_default_domain }}
project_name = {{ keystone_service_project }}
username = {{ nova_service_user }}
password = {{ nova_service_password }}

[service_user]
send_service_user_token = true
auth_url = http://{{ internal_fqdn }}:5000
auth_strategy = keystone
auth_type = password
project_domain_name = {{ keystone_default_domain }}
project_name = {{ keystone_service_project }}
user_domain_name = {{ keystone_default_domain }}
username = {{ nova_service_user }}
password = {{ nova_service_password }}

[placement]
auth_url = {{ nova_placement_auth_url }}
os_region_name = {{ keystone_region }}
auth_type = password
project_domain_name = {{ keystone_default_domain }}
user_domain_name = {{ keystone_default_domain }}
project_name = {{ keystone_service_project }}
username = {{ placement_service_user }}
password = {{ placement_service_password }}

[vnc]
enabled = true
server_listen = {{ management_ip }}
server_proxyclient_address = {{ management_ip }}
novncproxy_host = {{ management_ip }}
novncproxy_port = {{ nova_vncproxy_port }}
novncproxy_base_url = {{ nova_novncproxy_base_url }}

[glance]
api_servers = {{ nova_glance_api_servers }}

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[scheduler]
discover_hosts_in_cells_interval = {{ nova_discover_hosts_interval }}

